body {
  background-color: #ffa926;
}
div.logo {
  padding: 10px;
  text-align: center;
}
h2 {
  color: white;
  font-family: Courier, monospace;
  font-weight: 100;
}
img.logo-img {
  width: 200px;
}
img {
  width: 100%;
  border: 10%;
  border-style: solid;
  border-color: white;
}
p.category {
  text-align: center;
  font-family: Courier, monospace;
  font-size: 150%;
}
