/*
Color key:
white: #fefced
light yellow: #faf2b5
dark yellow: #f0d200
light purple: #e2b2ff
dark-purple: #6435a7
grey: #868686
yolk: #fff177 */

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
}
h1 {
  color: #868686;
  letter-spacing: 1px;
  font-size: 40px;
  width: auto;
}
nav {
 box-sizing: border-box;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 padding: 20px 60px;
 text-align: center;
 background-color: #e2b2ff;/*#fff177;*/
 font-size: 18px;
 letter-spacing: 1px;
}
a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #868686;
  padding: 1px 0;
  margin: 0 10px;
  transition: all 0.15s ease-in-out;
}

nav a:hover {
   color: #6435a7;
}

.wide {
  box-sizing: border-box;
  width: 100%;
  padding: 80px 60px 60px 60px;
  min-height: 100vh;
  background-color: #fff177;
}
