body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
}
h1 {
  color: #fff;
  letter-spacing: 1px;
  font-size: 40px;
  width: auto;
}
nav {
 box-sizing: border-box;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 padding: 20px 60px;
 text-align: center;
 background-color: #333;
 font-size: 18px;
 letter-spacing: 1px;
}
a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #eee;
  padding: 1px 0;
  margin: 0 10px;
  transition: all 0.15s ease-in-out;
}

.hov-color-red:hover {
   color: #ff765a;
}
.hov-color-green:hover {
  color: #5aff8c;
}
.hov-color-blue:hover {
  color: #5acbff;
}

.wide {
  box-sizing: border-box;
  width: 100%;
  padding: 80px 60px 60px 60px;
  min-height: 100vh;
}
#red {
  background-color: #ff765a;
}
#green {
  background-color: #5aff8c;
}
#blue {
  background-color: #5acbff;
}
